openapi: 3.2.0
info:
  title: CloudTalk Conversation Intelligence API
  description: '# Introduction

    Welcome to CloudTalk API reference!'
  contact:
    name: CloudTalk API Support
    url: https://www.cloudtalk.io/contact
  version: '1.7'
  x-logo:
    url: https://my.cloudtalk.io/img/logo-cloudtalk-color.png
servers:
- url: https://my.cloudtalk.io/api
tags:
- name: Conversation Intelligence
  description: Conversation Intelligence data about your calls.
paths:
  /ai/calls/{callId}/summary:
    get:
      servers:
      - url: https://api.cloudtalk.io/v1
      tags:
      - Conversation Intelligence
      summary: Summary
      parameters:
      - $ref: '#/components/parameters/callId'
      responses:
        '200':
          description: Information about a given call's summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  callId:
                    type: number
                    description: ID of the call
                  summary:
                    type: string
                    description: Summary of the call
                required:
                - callId
                - summary
              example:
                callId: 12345
                summary: This is a summary of the call.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: getAiCallsByCallIdSummary
      x-operation-id-source: derived
  /ai/calls/{callId}/overall-sentiment:
    get:
      servers:
      - url: https://api.cloudtalk.io/v1
      tags:
      - Conversation Intelligence
      summary: Overall sentiment
      parameters:
      - $ref: '#/components/parameters/callId'
      responses:
        '200':
          description: Information about a given call's overall sentiment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallOverallSentiment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: getAiCallsByCallIdOverallSentiment
      x-operation-id-source: derived
  /ai/calls/{callId}/talk-listen-ratio:
    get:
      servers:
      - url: https://api.cloudtalk.io/v1
      tags:
      - Conversation Intelligence
      summary: Talk-listen ratio
      parameters:
      - $ref: '#/components/parameters/callId'
      responses:
        '200':
          description: Information about a given call's talk-listen ratio
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallTalkListenRatio'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: getAiCallsByCallIdTalkListenRatio
      x-operation-id-source: derived
  /ai/calls/{callId}/topics:
    get:
      servers:
      - url: https://api.cloudtalk.io/v1
      tags:
      - Conversation Intelligence
      summary: Topics
      parameters:
      - $ref: '#/components/parameters/callId'
      - $ref: '#/components/parameters/paginationLimit'
      - $ref: '#/components/parameters/paginationOffset'
      responses:
        '200':
          description: Information about a given call's topics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallTopics'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: getAiCallsByCallIdTopics
      x-operation-id-source: derived
  /ai/calls/{callId}/transcription:
    get:
      servers:
      - url: https://api.cloudtalk.io/v1
      tags:
      - Conversation Intelligence
      summary: Transcription
      parameters:
      - $ref: '#/components/parameters/callId'
      - $ref: '#/components/parameters/paginationLimit'
      - $ref: '#/components/parameters/paginationOffset'
      responses:
        '200':
          description: Information about a given call's transcription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallTranscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: getAiCallsByCallIdTranscription
      x-operation-id-source: derived
  /ai/calls/{callId}/smart-notes:
    get:
      servers:
      - url: https://api.cloudtalk.io/v1
      tags:
      - Conversation Intelligence
      summary: Smart notes
      parameters:
      - $ref: '#/components/parameters/callId'
      responses:
        '200':
          description: Information about a given call's smart notes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallSmartNotes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: getAiCallsByCallIdSmartNotes
      x-operation-id-source: derived
  /ai/calls/{callId}/details-link:
    get:
      servers:
      - url: https://api.cloudtalk.io/v1
      tags:
      - Conversation Intelligence
      summary: Link to the call details page
      parameters:
      - $ref: '#/components/parameters/callId'
      responses:
        '200':
          description: Link to the details of the call in the analytics
          content:
            application/json:
              schema:
                type: object
                properties:
                  link:
                    type: string
                    description: Link to the details of the call in the analytics
                required:
                - link
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: getAiCallsByCallIdDetailsLink
      x-operation-id-source: derived
components:
  schemas:
    CallTalkListenRatio:
      type: object
      properties:
        callId:
          type: number
          description: ID of the call
        talkListenRatio:
          type: array
          items:
            type: object
            properties:
              caller:
                type: string
                description: Caller local identifier
              talkingTime:
                type: number
                description: Talking time of the caller in seconds
              ratio:
                type: number
                description: Talk to listen ratio of the caller in percentage
            required:
            - caller
            - talkingTime
            - ratio
        callers:
          type: array
          items:
            $ref: '#/components/schemas/Caller'
      required:
      - callId
      - talkListenRatio
      - callers
      example:
        callId: 12345
        talkListenRatio:
        - caller: caller1
          talkingTime: 120
          ratio: 60
        - caller: caller2
          talkingTime: 80
          ratio: 40
        callers:
        - id: 5000
          type: contact
          localIdentifier: caller1
        - id: 1000
          type: agent
          localIdentifier: caller2
    CallTopicSpan:
      type: object
      properties:
        end:
          type: number
          description: End time of the span in seconds
        text:
          type: string
          description: Transcription of the span
        start:
          type: number
          description: Start time of the span in seconds
        caller:
          type: string
          description: Caller local identifier
      required:
      - end
      - text
      - start
      - caller
    CallOverallSentiment:
      type: object
      properties:
        callId:
          type: number
          description: ID of the call
        overallSentiment:
          type: string
          description: Overall sentiment of the call
          enum:
          - very negative
          - negative
          - neutral
          - positive
          - very positive
      required:
      - callId
      - overallSentiment
      example:
        callId: 12345
        overallSentiment: positive
    ImportantDatesAndDeadlinesNotes:
      type: array
      description: Capture significant dates mentioned, with clickable links to add them directly to the calendar
      items:
        type: object
        properties:
          dateMention:
            type: string
            description: Date and time of the event
            format: date-time
          eventDescription:
            type: string
            description: Description of the event
        required:
        - dateMention
        - eventDescription
    Pagination:
      type: object
      properties:
        limit:
          type: integer
          description: Maximum number of items to return
          example: 10
        offset:
          type: integer
          description: Offset of the returned items
          example: 0
        total:
          type: integer
          description: Total number of items
          example: 100
      required:
      - limit
      - offset
      - total
    CallSmartNotes:
      type: object
      properties:
        callId:
          type: number
          description: ID of the call
        smartNotes:
          type: object
          description: Smart notes of the call
          properties:
            callDetails:
              $ref: '#/components/schemas/CallDetailsNote'
            actionItems:
              type: array
              description: Specific tasks assigned during the call
              items:
                type: string
            decisionsMade:
              type: array
              description: Important decisions agreed upon during the call
              items:
                type: string
            openQuestions:
              type: array
              description: Questions that need to be addressed after the call
              items:
                type: string
            importantDatesAndDeadlines:
              $ref: '#/components/schemas/ImportantDatesAndDeadlinesNotes'
            risksAndIssues:
              type: array
              description: Identify potential risks or issues discussed during the call
              items:
                type: string
            customerFeedback:
              type: array
              description: Highlight feedback from customers that can inform product development or service improvement
              items:
                type: string
          required:
          - callDetails
      required:
      - callId
      - smartNotes
      example:
        callId: 12345
        smartNotes:
          callDetails:
            callDateTime: '2024-01-01T21:00:00Z'
            participants:
            - name: Jone Smith
              jobPosition: Job position
              company: Company
              callerType: agent
            - name: Tatiana Rogers
              callerType: contact
            callMetadata: Reservation number
          actionItems:
          - Determine the final price
          decisionsMade:
          - Make an order
          openQuestions:
          - Final price
          importantDatesAndDeadlines:
          - dateMention: '2024-01-11T10:00:00Z'
            eventDescription: Repeat the call
          risksAndIssues:
          - Concern about the cost of the services
          customerFeedback:
          - Good service
    CallDetailsNote:
      type: object
      description: Significant updates discussed during the call
      properties:
        callDateTime:
          type: string
          description: Date and time of the call
          format: date-time
        participants:
          type: array
          description: Name, position and company of participants of the call
          items:
            type: object
            properties:
              name:
                type: string
                description: First and last name
              jobPosition:
                type: string
                description: Job position
              company:
                type: string
                description: Company name
              callerType:
                type: string
                description: Caller type
                enum:
                - agent
                - contact
            required:
            - callerType
        callMetadata:
          type: string
          description: Metadata such as location, reservation number, etc
        required:
        - callDateTime
        - participants
    CallTopics:
      type: object
      properties:
        data:
          type: object
          properties:
            callId:
              type: number
              description: ID of the call
            topics:
              type: array
              items:
                $ref: '#/components/schemas/CallTopic'
            callers:
              type: array
              items:
                $ref: '#/components/schemas/Caller'
          required:
          - callId
          - topics
          - callers
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
      - data
      - pagination
      example:
        data:
          callId: 12345
          topics:
          - spans:
            - end: 3.182
              text: Let's start the discussion in this group.
              start: 1.867
              caller: caller1
            topic: Group Call
            weight: 0.5
          callers:
          - id: 5000
            type: contact
            localIdentifier: caller1
          - id: 1000
            type: agent
            localIdentifier: caller2
        pagination:
          limit: 1
          offset: 0
          total: 10
    CallTopic:
      type: object
      properties:
        spans:
          type: array
          items:
            $ref: '#/components/schemas/CallTopicSpan'
        topic:
          type: string
          description: Topic of the call
        weight:
          type: number
          description: Weight of the topic
      required:
      - spans
      - topic
      - weight
    Caller:
      type: object
      properties:
        type:
          type: string
          enum:
          - agent
          - contact
          description: Type of caller
        id:
          type:
          - integer
          - 'null'
          description: Caller ID if exists in the system
        localIdentifier:
          type: string
          description: Local identifier of the caller
      required:
      - id
      - type
      - localIdentifier
      example:
        id: 1000
        type: agent
        localIdentifier: caller1
    CallTranscription:
      type: object
      properties:
        data:
          type: object
          properties:
            callId:
              type: number
              description: ID of the call
            segments:
              type: array
              items:
                type: object
                properties:
                  start:
                    type: number
                    description: Start time of the segment in seconds
                  end:
                    type: number
                    description: End time of the segment in seconds
                  caller:
                    type: string
                    description: Caller local identifier
                  text:
                    type: string
                    description: Transcription text of the segment
                required:
                - start
                - end
                - caller
                - text
            callers:
              type: array
              items:
                $ref: '#/components/schemas/Caller'
            language:
              type: string
              description: Language of the transcription
          required:
          - callId
          - segments
          - callers
          - language
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
      - data
      - pagination
      example:
        data:
          callId: 12345
          segments:
          - start: 1.501
            end: 4.599
            caller: caller2
            text: Hello, I would like to ask for help.
          - start: 5.173
            end: 8.599
            caller: caller1
            text: Hi. What's your issue?
          callers:
          - id: 5000
            type: contact
            localIdentifier: caller1
          - id: 1000
            type: agent
            localIdentifier: caller2
          language: en
        pagination:
          limit: 2
          offset: 0
          total: 10
  parameters:
    callId:
      name: callId
      in: path
      required: true
      description: Call ID
      schema:
        type: number
    paginationLimit:
      name: limit
      in: query
      description: Maximum number of items to return
      required: false
      schema:
        type: integer
        minimum: 1
    paginationOffset:
      name: offset
      in: query
      description: Offset the list of returned items by this amount
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
                example: BAD_REQUEST
              message:
                type: string
                description: Error message
                example: The request could not be understood or was missing required parameters.
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
                example: NOT_FOUND
              message:
                type: string
                description: Error message
                example: The requested resource was not found.
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
                example: UNAUTHORIZED
              message:
                type: string
                description: Error message
                example: You are not authorized to access this resource.
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
                example: INTERNAL_SERVER_ERROR
              message:
                type: string
                description: Error message
                example: An unexpected error occurred on the server.
