openapi: 3.2.0
info:
  title: CloudTalk Numbers API
  description: '# Introduction

    Welcome to CloudTalk API reference!'
  contact:
    name: CloudTalk API Support
    url: https://www.cloudtalk.io/contact
  version: '1.7'
  x-logo:
    url: https://my.cloudtalk.io/img/logo-cloudtalk-color.png
servers:
- url: https://my.cloudtalk.io/api
tags:
- name: Numbers
  description: All data you can get about your numbers.
paths:
  /numbers/index.json:
    get:
      tags:
      - Numbers
      summary: List numbers
      parameters:
      - name: id
        in: query
        description: Filter by number ID
        schema:
          type: integer
      - name: country_code
        in: query
        description: Filter by country calling code
        schema:
          type: integer
      - name: area_code
        in: query
        description: Filter by local area code. Area code cannot contain 0 at the beginning
        schema:
          type: integer
      - name: connected_to
        in: query
        description: Filter by route type. `0 = 'group'`, `1 = 'agent'`, `2 = 'conference room'`, `3 = 'fax'`
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          - 3
      - name: is_free
        in: query
        description: Filter by availability. `0 = 'taken'`, `1 = 'free'`
        schema:
          type: integer
          enum:
          - 0
          - 1
      - name: limit
        in: query
        description: Max. number of items in response data.
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - name: page
        in: query
        description: Number of page to return.
        schema:
          minimum: 1
          type: integer
      responses:
        '200':
          description: Numbers data
          content:
            application/json:
              schema:
                type: object
                properties:
                  itemsCount:
                    $ref: '#/components/schemas/PaginationData/properties/itemsCount'
                  pageCount:
                    $ref: '#/components/schemas/PaginationData/properties/pageCount'
                  pageNumber:
                    $ref: '#/components/schemas/PaginationData/properties/pageNumber'
                  limit:
                    $ref: '#/components/schemas/PaginationData/properties/limit'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        CallNumber:
                          $ref: '#/components/schemas/CallNumber'
              example:
                responseData:
                  itemsCount: 3
                  pageCount: 1
                  pageNumber: 1
                  limit: 3
                  data:
                  - CallNumber:
                      id: '123'
                      country_code: '44'
                      area_code: '20'
                      internal_name: Sales support
                      caller_id_e164: 442012345678
                      is_redirected: false
                      connected_to: '1'
                      source_id: '4'
      operationId: getNumbersIndexJson
      x-operation-id-source: derived
  /numbers/edit/{id}.json:
    post:
      tags:
      - Numbers
      summary: Edit a number
      parameters:
      - name: id
        in: path
        description: Number ID to edit
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                internal_name:
                  $ref: '#/components/schemas/CallNumber/properties/internal_name'
                connected_to:
                  $ref: '#/components/schemas/CallNumber/properties/connected_to'
                source_id:
                  $ref: '#/components/schemas/CallNumber/properties/source_id'
        required: true
      responses:
        '200':
          description: No error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/StatusCode/properties/status'
              example:
                responseData:
                  status: 200
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
              example:
                responseData:
                  status: 404
                  message: Not found.
        '406':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInvalidData'
              example:
                responseData:
                  status: 406
                  message: Invalid input data.
                  data:
                    type:
                    - Please supply a valid type.
        '500':
          description: Something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
              example:
                responseData:
                  status: 500
                  message: Something went wrong.
      x-codegen-request-body-name: body
      operationId: postNumbersEdit{id}Json
      x-operation-id-source: derived
  /numbers/clear/{id}.json:
    delete:
      tags:
      - Numbers
      summary: Unregister a number
      description: Clear current route settings of the number. Number will be marked as free.
      parameters:
      - name: id
        in: path
        description: Number ID to unregister
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: No error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessGeneralData'
              example:
                responseData:
                  status: 200
        '404':
          description: Number not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
              example:
                responseData:
                  status: 404
                  message: Not found.
        '500':
          description: Something went wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
              example:
                responseData:
                  status: 500
                  message: Something went wrong.
      operationId: deleteNumbersClear{id}Json
      x-operation-id-source: derived
components:
  schemas:
    CallNumber:
      type: object
      properties:
        id:
          type: integer
          description: Number ID
        country_code:
          type: integer
          description: Country calling code
        area_code:
          type: integer
          description: Local area code
        internal_name:
          type: string
          description: Internal name
        caller_id_e164:
          type: string
          description: Full number in international E.164 format
        is_redirected:
          type: boolean
          description: Is number redirected?
        connected_to:
          type: integer
          description: Routing type. Where is the number connected. `0 = 'group'`, `1 = 'agent'`, `2 = 'conference room'`, `3 = 'fax'`
        source_id:
          type: integer
          description: Source ID of where is the number located, e.g. Agent ID, Group ID...
      description: Number data
    PaginationData:
      type: object
      properties:
        itemsCount:
          type: integer
          description: number of resources in the response
          format: int64
        pageCount:
          type: integer
          description: number of pages found
          format: int64
        pageNumber:
          type: integer
          description: current page in the response
          format: int64
        limit:
          type: integer
          description: number of objects sent per page
          format: int64
      description: Call data
    SuccessGeneralData:
      type: object
      properties:
        status:
          type: string
          description: Status code
    ErrorData:
      type: object
      properties:
        status:
          type: string
          description: Status code
        message:
          type: string
          description: The error message
    StatusCode:
      type: object
      properties:
        status:
          type: string
          description: Status code
    ErrorInvalidData:
      type: object
      properties:
        status:
          type: string
          description: Status code
        message:
          type: string
          description: The error message
        data:
          type: object
          properties: {}
          description: More data explaining the error
